{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Livre</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('livre') }}">
            Retour à la liste
        </a>
    </li>
    <li>
        <a href="{{ path('livre_edit', { 'id': entity.id }) }}">
            Editer
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
{% use 'BlBibliothequeBundle:Admin:sidebar_admin.html.twig' %}
